.app_segunda {
    padding: 50px;
    text-align: center;

    .titulo {
        font-size: 60px;
        font-weight: bold;
        text-align: center;}

    .subtitulo {
        font-size: 30 px;
        text-align: center;}
}

.app_tercera {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-basis: auto;
    padding: 50px;
}

.app_cuarta {
    padding: 100px;
    text-align: center;

    .app_cuarta_titulo {
        font-size: xx-large;
        font-weight: bold;
        padding: 10px;}

    .app_cuarta_img {
        padding: 30px;}
    }

.app_quinta {
    padding: 50px;
    background-color: #b0bec5;

    .app_quinta_titulo {
        text-align: left;
        font-size: x-large;
        font-weight: bold;
        line-height: 1.5;
        padding-top: 10px;
        padding-bottom: 20px;}

    .app_quinta_texto {
        margin: 10px;
        text-align: justify;
        line-height: 1.5;}
}

.app_sexta {

    margin-bottom: 50px;

    .app_sexta_titulo {
        font-size: xx-large;
        font-weight: bold;
        padding: 70px;
        padding-bottom: 30px;
        text-align: center;}

    .card-title-mem {
        color: #F36D2E;
        font-size: x-large;
        font-weight: bold;
        padding: 5px;
        margin-top: 15px;}

    .card {
        border-color: #00c2cb;
        width: 300px;}

    .app_sexta_precio {
        list-style: none;
        font-size: xx-large;
        font-weight: bold;
        text-align: center;}

    li {
        list-style: none;}

    .card-text {
        text-align: justify;
        margin: 15px;
    }

    .card-list {
            text-align: center;
            display:inline-block;
        }

    .btn-primary {
            background-color:#b0bec5;
            border-color:#b0bec5;
            color: black;}
    
    .btn-primary:hover {
            background-color: #F36D2E;
            border-color: #F36D2E;}
}

.card-item {
    padding: 10px;   
}
