.contacto_segunda {
    padding: 50px;
    text-align: center;

    .titulo {
        font-size: 60px;
        font-weight: bold;
        text-align: center;}

    .subtitulo {
        font-size: 30 px;
        text-align: center;}
}

.contacto_tercera {
    margin: 30px;

    .btn-primary {
        background-color:#b0bec5;
        border-color:#b0bec5;
        color: black;
        margin: 20px;
    }
    
    .btn-primary:hover {
        background-color: #F36D2E;
        border-color: #F36D2E;}
}

.contacto_cuarta {
    padding: 50px;
    margin-bottom: 20px;
    background-color:#b0bec5;
    
    .contacto_cuarta_titulo {
        text-align: left;
        font-size: x-large;
        font-weight: bold;
        line-height: 1.5;
        padding-top: 10px;
        padding-bottom: 20px;}

    .contacto_cuarta_texto {
        margin: 0px;
        text-align: justify;
        text-align: left;
        font-size: large;
        line-height: 1;
        padding-top: 10px;
        padding-bottom: 10px;}
}