footer {
    background-color: #00c2cb;
    padding: 30px;
}

footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    flex-basis: auto;
}

.footer_titulo {
    font-weight: bolder;
    font-size: large;
}