.ush_segunda {
    padding: 50px;
    text-align: center;

    .titulo {
        font-size: 60px;
        font-weight: bold;
        text-align: center;}

    .subtitulo {
        font-size: 30 px;
        text-align: center;}
}

.ush_cuarta {
    margin: 50px;
    text-align: justify;
    line-height: 1.5;
}